:root {
    --blue: #673ab7;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f02769;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #32ab13;
    --teal: #20c997;
    --cyan: #198fed;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #673ab7;
    --secondary: #6c757d;
    --success: #32ab13;
    --info: #198fed;
    --warning: #ffc107;
    --danger: #f02769;
    --light: #f8f9fa;
    --dark: #343a40;
    /*   border radius */
    --radius: 0.25rem;
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;    
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .icon-link {   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
    display: block;
}

.sidebar .nav-links li i{    
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li i.arrow{    
    min-width: 50px;    
}

.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow{
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;    
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;    
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;    
    align-items: center;
    width: 260px;
    justify-content: space-between;
    background: #1d1b31;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    width: 78px;
    background: none;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .icon-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;    
}

.home-section .home-content .icon-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600px;
}

/* 
.icon-color-1 {
    color: #ff3030;
}

.icon-color-2 {
    color: #ff007c;
}

.icon-color-3 {
    color: #4caf50;
}

.icon-color-4 {
    color: #ff8b01;
}

.icon-color-5 {
    color: #a400ed;
}
body {

    background: #F6F6F6;
}
  
.nav__list {
    background: #fff;    
    padding: 1rem 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid #e4e4e4;
}

.nav__item {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.nav__item i {
    fill: var(--gray);
    font-size: 2rem;
    width: 2rem;
    transition: all 200ms ease-in;
}

.nav__item i:hover {
    fill: var(--gray-dark);
}

.nav__item a {
    color: var(--gray);
    text-decoration: none;
}

.nav__item a:hover {
    color: var(--clr-gray500);
}
  
.content {
    margin-left: 5rem;
    padding: 5px 10px;
}

.card {
    border-radius: var(--radius);
    padding: 10px;
    background-color: #fff;
    display: flex;    
    color: var(--clr-gray500);
    flex-direction: column;
    box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 10%);
}

.card__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 1.2;
}

.card__body {
    font-size: 14;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 16px;
    padding: 5px 10px;    
    border-style: none;
    border-radius: 3px;

}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
} 

.btn-secondary {
    color: #fff;
    background-color: #039d69;
}

@media screen and (max-width: 1024px) {
    .nav__list {
        flex-direction: row;
        width: 100vw;
        height: 5rem;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
        border-top: 1px solid #e4e4e4;
    }

    .content {
        margin-left: 0;
        margin-bottom: 5rem;
    }
} */

