:root {
    --blue: #673ab7;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f02769;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #32ab13;
    --teal: #20c997;
    --cyan: #198fed;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #673ab7;
    --secondary: #6c757d;
    --success: #32ab13;
    --info: #198fed;
    --warning: #ffc107;
    --danger: #f02769;
    --light: #f8f9fa;
    --dark: #343a40;
    /*   border radius */
    --radius: 0.25rem;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon-color-1 {
    color: #ff3030;
}

.icon-color-2 {
    color: #ff007c;
}

.icon-color-3 {
    color: #4caf50;
}

.icon-color-4 {
    color: #ff8b01;
}

.icon-color-5 {
    color: #a400ed;
}
body {
    font-family: Montserrat, sans-serif;
    background: #F6F6F6;
}
  
.nav__list {
    background: #fff;    
    padding: 1rem 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid #e4e4e4;
}

.nav__item {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.nav__item i {
    fill: var(--gray);
    font-size: 2rem;
    width: 2rem;
    transition: all 200ms ease-in;
}

.nav__item i:hover {
    fill: var(--gray-dark);
}

.nav__item a {
    color: var(--gray);
    text-decoration: none;
}

.nav__item a:hover {
    color: var(--clr-gray500);
}
  
.content {
    margin-left: 5rem;
    padding: 5px 10px;
}

.card {
    border-radius: var(--radius);
    padding: 10px;
    background-color: #fff;
    display: flex;    
    color: var(--clr-gray500);
    flex-direction: column;
    box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 10%);
}

.card__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 1.2;
}

.card__body {
    font-size: 14;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 16px;
    padding: 5px 10px;    
    border-style: none;
    border-radius: 3px;

}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
} 

.btn-secondary {
    color: #fff;
    background-color: #039d69;
}

@media screen and (max-width: 1024px) {
    .nav__list {
        flex-direction: row;
        width: 100vw;
        height: 5rem;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
        border-top: 1px solid #e4e4e4;
    }

    .content {
        margin-left: 0;
        margin-bottom: 5rem;
    }
}
